<h2>New Recipe</h2>

<form action="/create_recipe">
  <input type="text" name="caption" placeholder="description">
  <input type="text" name="url" placeholder="url">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="procedure" placeholder="procedure">
  <input type="submit">
</form>